# EditorConfig helps maintain consistent coding styles
# across different editors and IDEs
# https://editorconfig.org

root = true

[*]
insert_final_newline = true
trim_trailing_whitespace = true
charset = utf-8

[*.md]
max_line_length = 78
trim_trailing_whitespace = false

[*.rs]
indent_style = space
indent_size  = 4
max_line_length = 100

[*.toml]
indent_size = 2

[*.{yml,yaml}]
indent_style = space
indent_size  = 2

[Makefile]
indent_style = tab
